:root
{
    --gris: #ebebeb;
}

html
{
    height: 100%;
}

body
{
    min-height: 100%;
    min-width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

footer
{
    padding: 10%;
    margin-top: 0px;
}

.contenido
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #dee2e6;
    padding-top: 6rem;
    padding-bottom: 2rem;
    flex-grow: 1;
}

.contenido > *
{
    padding-right: 13%;
    padding-left: 13%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

nav
{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid;
    border-color: #dee2e6;
    z-index: 1;
}

.navbar
{
    position: fixed;
}

.gris
{
    background-color: var(--gris) !important;
}